.similar-blog-cont {
  width: 30%;
  background-color: #272727;
  border-radius: 25px;
  padding: 20px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.similar-blog-cont-1 {
  display: flex;
}

.similar-blog-logo {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.similar-blog-title {
  font-size: 15px;
  font-family: 'Roboto';
  color: #ffffff;
  margin-top: 0px;
}

.star {
  color: #fbbf24;
}

.location {
  color: #ffffff;
}

.similar-blog-icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.similar-blog-cont-2 {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.similar-blog-cont-3 {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.location-text {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 300;
  margin-right: 10px;
}

.description-head {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
}

.description-para {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  font-family: 'Roboto';
  line-height: 30px;
}

.similar-blog-link {
  text-decoration: none;
}
